<h3>Grocery List</h3>
<p-dataView #dv [value]="groceryList" [paginator]="true" [rows]="4" paginatorPosition="both" filterBy="brand"
            [sortField]="sortField" [sortOrder]="sortOrder" [styleClass]="">
  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-4 filter-container">
          <div style="position:relative">
            <input type="search" pInputText placeholder="Search by name" (keyup)="dv.filter($event.target.value)">
          </div>
        </div>
        <div class="ui-g-6 ui-md-4" style="text-align:right">
          <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        </div>
      </div>
    </div>
  </p-header>
  <ng-template let-grocery pTemplate="listItem">
    <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-3" style="text-align:center">
        <a [routerLink]="['/grocery/detail/', grocery.id]">
          <img src='{{ serverUrl+grocery.pic }}' width="200" height="150">
        </a>
      </div>
      <div class="ui-g-12 ui-md-8">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Name: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{grocery.gro_name}}</b></div>

          <div class="ui-g-2 ui-sm-6">Description: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{grocery.gro_desc}}</b></div>

          <div class="ui-g-2 ui-sm-6">Price: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{grocery.price}}</b></div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-1 search-icon">
        <button style="background-color: #876ba5" class="btn btn-danger" (click)="addToCart(this.grocery)">Add to Cart</button>
      </div>
    </div>
  </ng-template>
  <ng-template let-grocery pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="grocery.gro_name" [style]="{'text-align':'center'}">
        <a [routerLink]="['/grocery/detail/', grocery.id]">
          <img src='{{ serverUrl+grocery.pic }}' width="200" height="150">
        </a>
        <div class="car-detail">{{grocery.price}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <button class="btn btn-danger" (click)="addToCart(this.grocery)">Add to Cart</button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>
