<div class="col-md-8">
  <form [formGroup]="form" (submit)="generateOrder()">
    <div class="form-group">
      <div class="form-group">
        <div class="form-group">
          <h2 id="main-header">
            Contact information
          </h2>
        </div>
        <div class="form-group ui-md-12">
          <label>Email</label>
          <input placeholder="xxx@xxxx.com" type="email" class="form-control" id="email" name="email" formControlName="email">
        </div>
      </div>

      <div class="form-group">

      <div class="form-group">
        <h2>
          Shipping address
        </h2>
      </div>

        <div>
          <div class="form-group ui-md-6" style="display: inline-block">
            <label>First name</label>
            <input placeholder="First name" class="form-control" type="text" id="firstname" name="firstname" formControlName="firstname">
          </div>

          <div class="form-group ui-md-6" style="display: inline-block">
            <label>Last name</label>
            <input placeholder="Last name" type="text" class="form-control" id="lastname" name="lastname" formControlName="lastname">
          </div>

          <div class="form-group ui-md-12">
            <label>Address</label>
            <input class="form-control" placeholder="Address" type="text" id="address" name="address" formControlName="address">
          </div>

          <div class="form-group ui-md-12">
            <label>Apartment, suite, etc. (optional)</label>
            <input class="form-control" type="text" placeholder="Apartment, suite, etc. (optional)" id="apt" name="apt" formControlName="apt">
          </div>

          <div class="form-group ui-md-6" style="display: inline-block">
            <label>City</label>
            <input class="form-control" type="text" placeholder="City" id="city" name="city" formControlName="city">
          </div>

          <div class="form-group ui-md-6" style="display: inline-block">
            <label>State</label>
            <input class="form-control" type="text" placeholder="State" id="state" name="state" formControlName="state">
          </div>

          <div class="form-group ui-md-6" style="display: inline-block">
            <label>Zip</label>
            <input class="form-control" type="number" placeholder="Zip code" id="zip" name="zip" formControlName="zip">
          </div>

          <div class="form-group ui-md-6" style="display: inline-block">
            <label>Phone</label>
            <input type="number" class="form-control" placeholder="phone" id="phone" name="phone" formControlName="phone">
          </div>
        </div>
      </div>
    </div>
<div>
    <div class="form-group ui-md-6" style="display: inline-block">
      <a routerLink="/cart">
        <span>Return to cart</span>
      </a>
    </div>
    <div class="form-group ui-md-6" style="display: inline-block">
      <button class="btn btn-success" type="submit" *ngIf="canPayOrder">Place Order</button>
    </div>
</div>
  </form>
</div>

<div class="col-md-4">
  <h4 id="title-box-check-out">
    Your products
  </h4>
  <ul>
    <li *ngFor="let grocery of grocery" class="list-group-item">
      <div style="width: 45%; display: inline-block">
        <h6>{{grocery.gro_name}}</h6>
        <small class="text-muted">Quantity: {{grocery.cart_cnt}}</small>
      </div>
      <span class="text-muted" style="display: inline-block; float: right">{{grocery.price}}$</span>
    </li>
    <li class="list-group-item">
      <span>Total (USD)</span>
      <strong id="total-price">{{totalPrice}}$</strong>
    </li>
  </ul>
</div>
