/*******************************/
/*         Navigatioin         */
/*******************************/
.navbar-inverse { border-radius: 0; background:rgba(0, 0, 0, .8); border-bottom:1px solid rgba(255, 255, 255, 0.15); min-height:100px; padding-top:25px; margin-bottom:0;}
.navbar-inverse *:focus { outline: 0; }
@media (max-width: 767px) {
  .navbar-inverse {  background:rgba(0,0,0,.9); }
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > .open ul > a { color:rgba(255, 255, 255, .4); }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus { color: #fff; background:none ; }
.navbar-inverse .navbar-nav > .open > a{ background:none; color:white; }

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus { background:none; color:white; }

.navbar-inverse .navbar-nav > .active > a { background:none; color:white; }

.navbar-inverse .navbar-brand { font-family: "Open sans", helvetica, arial; font-size: 24px; color:white; padding:0 0 0 15px; margin:12px 0 0 0; }
.navbar-inverse .navbar-brand img { margin-top:-8px;}

.navbar-nav .dropdown-menu {
  left:-5px;
  font-size: 13px;
  background-color: rgba(0, 0, 0, .7);
  border: 0px none;
  -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-nav .dropdown-menu > li > a { color:rgba(255, 255, 255, .7); padding:7px 20px; }
.navbar-nav .dropdown-menu > li > a:hover,
.navbar-nav .dropdown-menu > li > a:focus,
.navbar-nav .dropdown-menu > .active > a:hover{ background: rgba(255, 255, 255, .1); color:white; }

.navbar-nav .dropdown-menu > .active > a,
.navbar-nav .dropdown-menu > .active > a:focus { background: none; color:#fff; }

.navbar-nav .btn { border:1px solid rgba(255, 255, 255, .2); margin-left:5px; margin-top:5px; padding-top:10px; padding-bottom:10px; }

.navbar-nav a.btn:focus,
.navbar-nav a.btn:hover  { border:1px solid rgba(255,255,255,.6); }

.navbar-collapse { border:0 none;  border-top:0 none; box-shadow: none; }
@media (max-width: 767px) {
  .navbar-collapse ul { text-align: center;  width:100%; padding-bottom:10px; }
  .navbar-collapse ul .btn{ max-width:50%; margin:0 auto; }
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom { border-radius: 0; }




/*******************************/
/*          Buttons            */
/*******************************/
.btn-default, .btn-primary, .btn-success, .btn-action
.btn-info,    .btn-warning, .btn-danger {
  text-shadow: 0 2px 1px rgba(0, 0, 0, .2);
}

.btn { padding: 10px 40px; font-weight: bold; border:0 none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.btn-lg { padding: 15px 65px; font-size: 14px; font-weight:bold; }
.btn-default { text-shadow: none; background:transparent; color:rgba(50,50,50,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(50,50,50,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(50,50,50,.5); box-shadow:inset 0px 0px 0px 3px rgba(50,50,50,.5); }
.btn-default:hover,
.btn-default:focus { color:rgba(50,50,50,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(50,50,50,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(50,50,50,.8); box-shadow:inset 0px 0px 0px 3px rgba(50,50,50,.8); background: transparent; }
.btn-default:active,
.btn-default.active { color:#333; -webkit-box-shadow:inset 0px 0px 0px 3px #333; -moz-box-shadow:inset 0px 0px 0px 3px #333; box-shadow:inset 0px 0px 0px 3px #333; background: transparent; }

.btn-action,
.btn-primary { color:#FFEFD7; background-image: -webkit-linear-gradient(top, #FF9B22 0%, #FF8C00 100%); background-image: linear-gradient(to bottom, #FF9B22 0%, #FF8C00 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFF9B22', endColorstr='#ffFF8C00', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); background-repeat: repeat-x; border:0 none; }
.btn-action:hover,
.btn-action:focus { color:#fff; background: #FF9B22; }
.btn-action:active {	background: #FF8C00; }


/*******************************/
/*           Jumbotron         */
/*******************************/
.jumbotron { color: inherit; background-color: #F7F5F4; padding-top:30px; padding-bottom:30px; margin-bottom:0; }
.container .jumbotron { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding-left:40px; padding-right:40px; }
.jumbotron p { font-size:inherit; }
.jumbotron h2, .jumbotron h3, .jumbotron h4,
.jumbotron h5, .jumbotron h6 { line-height: 1.3em; }


/*******************************/
/*           Images            */
/*******************************/
.img-rounded { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }


/**************************
*
*	GENERAL
*
**************************/
.camera_wrap a, .camera_wrap img,
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img,
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
  background: none;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style: none
}
.camera_wrap {
  direction: ltr;
  display: none;
  float: left;
  position: relative;
  z-index: 0;
}
.camera_wrap img {
  max-width: none!important;
}
.camera_fakehover {
  height: 100%;
  min-height: 60px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.camera_wrap {
  width: 100%;
}
.camera_src {
  display: none;
}
.cameraCont, .cameraContents {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}
.cameraSlide {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.cameraContent {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.camera_target {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 0;
}
.camera_overlayer {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
.camera_target_content {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.camera_target_content .camera_link {
  background: url(../assets/images/blank.gif);
  display: block;
  height: 100%;
  text-decoration: none;
}
.camera_loader {
  background: #fff url(../assets/images/camera-loader.gif) no-repeat center;
  background: rgba(255, 255, 255, 0.9) url(../assets/images/camera-loader.gif) no-repeat center;
  border: 1px solid #ffffff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  height: 36px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  margin: -18px 0 0 -18px;
  top: 50%;
  width: 36px;
  z-index: 3;
}
.camera_bar {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}
.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar {
  height: 100%;
  position: absolute;
  width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar {
  height: auto;
  position: absolute;
  width: 100%;
}
.camera_nav_cont {
  height: 65px;
  overflow: hidden;
  position: absolute;
  right: 9px;
  top: 15px;
  width: 120px;
  z-index: 4;
}
.camera_caption {
  bottom: 0;
  display: block;
  position: absolute;
  width: 100%;
}
.camera_caption > div {
  padding: 10px 20px;
}
.camerarelative {
  overflow: hidden;
  position: relative;
}
.imgFake {
  cursor: pointer;
}
.camera_prevThumbs {
  bottom: 4px;
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 4px;
  visibility: hidden;
  width: 30px;
  z-index: 10;
}
.camera_prevThumbs div {
  background: url(../assets/images/camera_skins.png) no-repeat -160px 0;
  display: block;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 30px;
}
.camera_nextThumbs {
  bottom: 4px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 4px;
  visibility: hidden;
  width: 30px;
  z-index: 10;
}
.camera_nextThumbs div {
  background: url(../assets/images/camera_skins.png) no-repeat -190px 0;
  display: block;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 30px;
}
.camera_command_wrap .hideNav {
  display: none;
}
.camera_command_wrap {
  left: 0;
  position: relative;
  right:0;
  z-index: 4;
}
.camera_wrap .camera_pag .camera_pag_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.camera_wrap .camera_pag .camera_pag_ul li {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin: 20px 5px;
  position: relative;
  text-align: left;
  text-indent: 9999px;
  width: 16px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li {
  -moz-box-shadow:
    0px 1px 0px rgba(255,255,255,1),
    inset 0px 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:
    0px 1px 0px rgba(255,255,255,1),
    inset 0px 1px 1px rgba(0,0,0,0.2);
  box-shadow:
    0px 1px 0px rgba(255,255,255,1),
    inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 8px;
  left: 4px;
  overflow: hidden;
  position: absolute;
  top: 4px;
  width: 8px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li:hover > span {
  -moz-box-shadow:
    0px 1px 0px rgba(255,255,255,1),
    inset 0px 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:
    0px 1px 0px rgba(255,255,255,1),
    inset 0px 1px 1px rgba(0,0,0,0.2);
  box-shadow:
    0px 1px 0px rgba(255,255,255,1),
    inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
}
.camera_pag_ul li img {
  display: none;
  position: absolute;
}
.camera_pag_ul .thumb_arrow {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  top: 0;
  left: 50%;
  margin-left: -4px;
  position: absolute;
}
.camera_prev, .camera_next, .camera_commands {
  cursor: pointer;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 40px;
  z-index: 2;
}
.camera_prev {
  left: 0;
}
.camera_prev > span {
  background: url(../assets/images/camera_skins.png) no-repeat 0 0;
  display: block;
  height: 40px;
  width: 40px;
}
.camera_next {
  right: 0;
}
.camera_next > span {
  background: url(../assets/images/camera_skins.png) no-repeat -40px 0;
  display: block;
  height: 40px;
  width: 40px;
}
.camera_commands {
  right: 41px;
}
.camera_commands > .camera_play {
  background: url(../assets/images/camera_skins.png) no-repeat -80px 0;
  height: 40px;
  width: 40px;
}
.camera_commands > .camera_stop {
  background: url(../assets/images/camera_skins.png) no-repeat -120px 0;
  display: block;
  height: 40px;
  width: 40px;
}
.camera_wrap .camera_pag .camera_pag_ul li {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin: 20px 5px;
  position: relative;
  text-indent: 9999px;
  width: 16px;
}
.camera_thumbs_cont {
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.camera_commands_emboss .camera_thumbs_cont {
  -moz-box-shadow:
    0px 1px 0px rgba(255,255,255,1),
    inset 0px 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow:
    0px 1px 0px rgba(255,255,255,1),
    inset 0px 1px 1px rgba(0,0,0,0.2);
  box-shadow:
    0px 1px 0px rgba(255,255,255,1),
    inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_thumbs_cont > div {
  float: left;
  width: 100%;
}
.camera_thumbs_cont ul {
  overflow: hidden;
  padding: 3px 4px 8px;
  position: relative;
  text-align: center;
}
.camera_thumbs_cont ul li {
  display: inline;
  padding: 0 4px;
}
.camera_thumbs_cont ul li > img {
  border: 1px solid;
  cursor: pointer;
  margin-top: 5px;
  vertical-align:bottom;
}
.camera_clear {
  display: block;
  clear: both;
}
.showIt {
  display: none;
}
.camera_clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 25px;
  position: relative;
}
/**************************
*
*	COLORS & SKINS
*
**************************/
/*.pattern_1 .camera_overlayer {*/
  /*background: url(../assets/images/patterns/overlay1.png) repeat;*/
/*}*/
/*.pattern_2 .camera_overlayer {*/
  /*background: url(../assets/images/patterns/overlay2.png) repeat;*/
/*}*/
/*.pattern_3 .camera_overlayer {*/
  /*background: url(../images/patterns/overlay3.png) repeat;*/
/*}*/
/*.pattern_4 .camera_overlayer {*/
  /*background: url(../images/patterns/overlay4.png) repeat;*/
/*}*/
/*.pattern_5 .camera_overlayer {*/
  /*background: url(../images/patterns/overlay5.png) repeat;*/
/*}*/
/*.pattern_6 .camera_overlayer {*/
  /*background: url(assets/images/patterns/overlay6.png) repeat;*/
/*}*/
/*.pattern_7 .camera_overlayer {*/
  /*background: url(assets/images/patterns/overlay7.png) repeat;*/
/*}*/
/*.pattern_8 .camera_overlayer {*/
  /*background: url(assets/images/patterns/overlay8.png) repeat;*/
/*}*/
/*.pattern_9 .camera_overlayer {*/
  /*background: url(assets/images/patterns/overlay9.png) repeat;*/
/*}*/
/*.pattern_10 .camera_overlayer {*/
  /*background: url(assets/images/patterns/overlay10.png) repeat;*/
/*}*/
.camera_caption {
  color: #fff;
}
.camera_caption > div {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}
.camera_wrap .camera_pag .camera_pag_ul li {
  background: #b7b7b7;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover > span {
  background: #b7b7b7;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
  background: #434648;
}
.camera_pag_ul li img {
  border: 4px solid #e6e6e6;
  -moz-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
  box-shadow: 0px 3px 6px rgba(0,0,0,.5);
}
.camera_pag_ul .thumb_arrow {
  border-top-color: #e6e6e6;
}
.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {
  background: #d8d8d8;
  background: rgba(216, 216, 216, 0.85);
}
.camera_wrap .camera_pag .camera_pag_ul li {
  background: #b7b7b7;
}
.camera_thumbs_cont ul li > img {
  border-color: 1px solid #000;
}
/*AMBER SKIN*/
.camera_amber_skin .camera_prevThumbs div {
  background-position: -160px -160px;
}
.camera_amber_skin .camera_nextThumbs div {
  background-position: -190px -160px;
}
.camera_amber_skin .camera_prev > span {
  background-position: 0 -160px;
}
.camera_amber_skin .camera_next > span {
  background-position: -40px -160px;
}
.camera_amber_skin .camera_commands > .camera_play {
  background-position: -80px -160px;
}
.camera_amber_skin .camera_commands > .camera_stop {
  background-position: -120px -160px;
}
/*ASH SKIN*/
.camera_ash_skin .camera_prevThumbs div {
  background-position: -160px -200px;
}
.camera_ash_skin .camera_nextThumbs div {
  background-position: -190px -200px;
}
.camera_ash_skin .camera_prev > span {
  background-position: 0 -200px;
}
.camera_ash_skin .camera_next > span {
  background-position: -40px -200px;
}
.camera_ash_skin .camera_commands > .camera_play {
  background-position: -80px -200px;
}
.camera_ash_skin .camera_commands > .camera_stop {
  background-position: -120px -200px;
}
/*AZURE SKIN*/
.camera_azure_skin .camera_prevThumbs div {
  background-position: -160px -240px;
}
.camera_azure_skin .camera_nextThumbs div {
  background-position: -190px -240px;
}
.camera_azure_skin .camera_prev > span {
  background-position: 0 -240px;
}
.camera_azure_skin .camera_next > span {
  background-position: -40px -240px;
}
.camera_azure_skin .camera_commands > .camera_play {
  background-position: -80px -240px;
}
.camera_azure_skin .camera_commands > .camera_stop {
  background-position: -120px -240px;
}
/*BEIGE SKIN*/
.camera_beige_skin .camera_prevThumbs div {
  background-position: -160px -120px;
}
.camera_beige_skin .camera_nextThumbs div {
  background-position: -190px -120px;
}
.camera_beige_skin .camera_prev > span {
  background-position: 0 -120px;
}
.camera_beige_skin .camera_next > span {
  background-position: -40px -120px;
}
.camera_beige_skin .camera_commands > .camera_play {
  background-position: -80px -120px;
}
.camera_beige_skin .camera_commands > .camera_stop {
  background-position: -120px -120px;
}
/*BLACK SKIN*/
.camera_black_skin .camera_prevThumbs div {
  background-position: -160px -40px;
}
.camera_black_skin .camera_nextThumbs div {
  background-position: -190px -40px;
}
.camera_black_skin .camera_prev > span {
  background-position: 0 -40px;
}
.camera_black_skin .camera_next > span {
  background-position: -40px -40px;
}
.camera_black_skin .camera_commands > .camera_play {
  background-position: -80px -40px;
}
.camera_black_skin .camera_commands > .camera_stop {
  background-position: -120px -40px;
}
/*BLUE SKIN*/
.camera_blue_skin .camera_prevThumbs div {
  background-position: -160px -280px;
}
.camera_blue_skin .camera_nextThumbs div {
  background-position: -190px -280px;
}
.camera_blue_skin .camera_prev > span {
  background-position: 0 -280px;
}
.camera_blue_skin .camera_next > span {
  background-position: -40px -280px;
}
.camera_blue_skin .camera_commands > .camera_play {
  background-position: -80px -280px;
}
.camera_blue_skin .camera_commands > .camera_stop {
  background-position: -120px -280px;
}
/*BROWN SKIN*/
.camera_brown_skin .camera_prevThumbs div {
  background-position: -160px -320px;
}
.camera_brown_skin .camera_nextThumbs div {
  background-position: -190px -320px;
}
.camera_brown_skin .camera_prev > span {
  background-position: 0 -320px;
}
.camera_brown_skin .camera_next > span {
  background-position: -40px -320px;
}
.camera_brown_skin .camera_commands > .camera_play {
  background-position: -80px -320px;
}
.camera_brown_skin .camera_commands > .camera_stop {
  background-position: -120px -320px;
}
/*BURGUNDY SKIN*/
.camera_burgundy_skin .camera_prevThumbs div {
  background-position: -160px -360px;
}
.camera_burgundy_skin .camera_nextThumbs div {
  background-position: -190px -360px;
}
.camera_burgundy_skin .camera_prev > span {
  background-position: 0 -360px;
}
.camera_burgundy_skin .camera_next > span {
  background-position: -40px -360px;
}
.camera_burgundy_skin .camera_commands > .camera_play {
  background-position: -80px -360px;
}
.camera_burgundy_skin .camera_commands > .camera_stop {
  background-position: -120px -360px;
}
/*CHARCOAL SKIN*/
.camera_charcoal_skin .camera_prevThumbs div {
  background-position: -160px -400px;
}
.camera_charcoal_skin .camera_nextThumbs div {
  background-position: -190px -400px;
}
.camera_charcoal_skin .camera_prev > span {
  background-position: 0 -400px;
}
.camera_charcoal_skin .camera_next > span {
  background-position: -40px -400px;
}
.camera_charcoal_skin .camera_commands > .camera_play {
  background-position: -80px -400px;
}
.camera_charcoal_skin .camera_commands > .camera_stop {
  background-position: -120px -400px;
}
/*CHOCOLATE SKIN*/
.camera_chocolate_skin .camera_prevThumbs div {
  background-position: -160px -440px;
}
.camera_chocolate_skin .camera_nextThumbs div {
  background-position: -190px -440px;
}
.camera_chocolate_skin .camera_prev > span {
  background-position: 0 -440px;
}
.camera_chocolate_skin .camera_next > span {
  background-position: -40px -440px;
}
.camera_chocolate_skin .camera_commands > .camera_play {
  background-position: -80px -440px;
}
.camera_chocolate_skin .camera_commands > .camera_stop {
  background-position: -120px -440px	;
}
/*COFFEE SKIN*/
.camera_coffee_skin .camera_prevThumbs div {
  background-position: -160px -480px;
}
.camera_coffee_skin .camera_nextThumbs div {
  background-position: -190px -480px;
}
.camera_coffee_skin .camera_prev > span {
  background-position: 0 -480px;
}
.camera_coffee_skin .camera_next > span {
  background-position: -40px -480px;
}
.camera_coffee_skin .camera_commands > .camera_play {
  background-position: -80px -480px;
}
.camera_coffee_skin .camera_commands > .camera_stop {
  background-position: -120px -480px	;
}
/*CYAN SKIN*/
.camera_cyan_skin .camera_prevThumbs div {
  background-position: -160px -520px;
}
.camera_cyan_skin .camera_nextThumbs div {
  background-position: -190px -520px;
}
.camera_cyan_skin .camera_prev > span {
  background-position: 0 -520px;
}
.camera_cyan_skin .camera_next > span {
  background-position: -40px -520px;
}
.camera_cyan_skin .camera_commands > .camera_play {
  background-position: -80px -520px;
}
.camera_cyan_skin .camera_commands > .camera_stop {
  background-position: -120px -520px	;
}
/*FUCHSIA SKIN*/
.camera_fuchsia_skin .camera_prevThumbs div {
  background-position: -160px -560px;
}
.camera_fuchsia_skin .camera_nextThumbs div {
  background-position: -190px -560px;
}
.camera_fuchsia_skin .camera_prev > span {
  background-position: 0 -560px;
}
.camera_fuchsia_skin .camera_next > span {
  background-position: -40px -560px;
}
.camera_fuchsia_skin .camera_commands > .camera_play {
  background-position: -80px -560px;
}
.camera_fuchsia_skin .camera_commands > .camera_stop {
  background-position: -120px -560px	;
}
/*GOLD SKIN*/
.camera_gold_skin .camera_prevThumbs div {
  background-position: -160px -600px;
}
.camera_gold_skin .camera_nextThumbs div {
  background-position: -190px -600px;
}
.camera_gold_skin .camera_prev > span {
  background-position: 0 -600px;
}
.camera_gold_skin .camera_next > span {
  background-position: -40px -600px;
}
.camera_gold_skin .camera_commands > .camera_play {
  background-position: -80px -600px;
}
.camera_gold_skin .camera_commands > .camera_stop {
  background-position: -120px -600px	;
}
/*GREEN SKIN*/
.camera_green_skin .camera_prevThumbs div {
  background-position: -160px -640px;
}
.camera_green_skin .camera_nextThumbs div {
  background-position: -190px -640px;
}
.camera_green_skin .camera_prev > span {
  background-position: 0 -640px;
}
.camera_green_skin .camera_next > span {
  background-position: -40px -640px;
}
.camera_green_skin .camera_commands > .camera_play {
  background-position: -80px -640px;
}
.camera_green_skin .camera_commands > .camera_stop {
  background-position: -120px -640px	;
}
/*GREY SKIN*/
.camera_grey_skin .camera_prevThumbs div {
  background-position: -160px -680px;
}
.camera_grey_skin .camera_nextThumbs div {
  background-position: -190px -680px;
}
.camera_grey_skin .camera_prev > span {
  background-position: 0 -680px;
}
.camera_grey_skin .camera_next > span {
  background-position: -40px -680px;
}
.camera_grey_skin .camera_commands > .camera_play {
  background-position: -80px -680px;
}
.camera_grey_skin .camera_commands > .camera_stop {
  background-position: -120px -680px	;
}
/*INDIGO SKIN*/
.camera_indigo_skin .camera_prevThumbs div {
  background-position: -160px -720px;
}
.camera_indigo_skin .camera_nextThumbs div {
  background-position: -190px -720px;
}
.camera_indigo_skin .camera_prev > span {
  background-position: 0 -720px;
}
.camera_indigo_skin .camera_next > span {
  background-position: -40px -720px;
}
.camera_indigo_skin .camera_commands > .camera_play {
  background-position: -80px -720px;
}
.camera_indigo_skin .camera_commands > .camera_stop {
  background-position: -120px -720px	;
}
/*KHAKI SKIN*/
.camera_khaki_skin .camera_prevThumbs div {
  background-position: -160px -760px;
}
.camera_khaki_skin .camera_nextThumbs div {
  background-position: -190px -760px;
}
.camera_khaki_skin .camera_prev > span {
  background-position: 0 -760px;
}
.camera_khaki_skin .camera_next > span {
  background-position: -40px -760px;
}
.camera_khaki_skin .camera_commands > .camera_play {
  background-position: -80px -760px;
}
.camera_khaki_skin .camera_commands > .camera_stop {
  background-position: -120px -760px	;
}
/*LIME SKIN*/
.camera_lime_skin .camera_prevThumbs div {
  background-position: -160px -800px;
}
.camera_lime_skin .camera_nextThumbs div {
  background-position: -190px -800px;
}
.camera_lime_skin .camera_prev > span {
  background-position: 0 -800px;
}
.camera_lime_skin .camera_next > span {
  background-position: -40px -800px;
}
.camera_lime_skin .camera_commands > .camera_play {
  background-position: -80px -800px;
}
.camera_lime_skin .camera_commands > .camera_stop {
  background-position: -120px -800px	;
}
/*MAGENTA SKIN*/
.camera_magenta_skin .camera_prevThumbs div {
  background-position: -160px -840px;
}
.camera_magenta_skin .camera_nextThumbs div {
  background-position: -190px -840px;
}
.camera_magenta_skin .camera_prev > span {
  background-position: 0 -840px;
}
.camera_magenta_skin .camera_next > span {
  background-position: -40px -840px;
}
.camera_magenta_skin .camera_commands > .camera_play {
  background-position: -80px -840px;
}
.camera_magenta_skin .camera_commands > .camera_stop {
  background-position: -120px -840px	;
}
/*MAROON SKIN*/
.camera_maroon_skin .camera_prevThumbs div {
  background-position: -160px -880px;
}
.camera_maroon_skin .camera_nextThumbs div {
  background-position: -190px -880px;
}
.camera_maroon_skin .camera_prev > span {
  background-position: 0 -880px;
}
.camera_maroon_skin .camera_next > span {
  background-position: -40px -880px;
}
.camera_maroon_skin .camera_commands > .camera_play {
  background-position: -80px -880px;
}
.camera_maroon_skin .camera_commands > .camera_stop {
  background-position: -120px -880px	;
}
/*ORANGE SKIN*/
.camera_orange_skin .camera_prevThumbs div {
  background-position: -160px -920px;
}
.camera_orange_skin .camera_nextThumbs div {
  background-position: -190px -920px;
}
.camera_orange_skin .camera_prev > span {
  background-position: 0 -920px;
}
.camera_orange_skin .camera_next > span {
  background-position: -40px -920px;
}
.camera_orange_skin .camera_commands > .camera_play {
  background-position: -80px -920px;
}
.camera_orange_skin .camera_commands > .camera_stop {
  background-position: -120px -920px	;
}
/*OLIVE SKIN*/
.camera_olive_skin .camera_prevThumbs div {
  background-position: -160px -1080px;
}
.camera_olive_skin .camera_nextThumbs div {
  background-position: -190px -1080px;
}
.camera_olive_skin .camera_prev > span {
  background-position: 0 -1080px;
}
.camera_olive_skin .camera_next > span {
  background-position: -40px -1080px;
}
.camera_olive_skin .camera_commands > .camera_play {
  background-position: -80px -1080px;
}
.camera_olive_skin .camera_commands > .camera_stop {
  background-position: -120px -1080px	;
}
/*PINK SKIN*/
.camera_pink_skin .camera_prevThumbs div {
  background-position: -160px -960px;
}
.camera_pink_skin .camera_nextThumbs div {
  background-position: -190px -960px;
}
.camera_pink_skin .camera_prev > span {
  background-position: 0 -960px;
}
.camera_pink_skin .camera_next > span {
  background-position: -40px -960px;
}
.camera_pink_skin .camera_commands > .camera_play {
  background-position: -80px -960px;
}
.camera_pink_skin .camera_commands > .camera_stop {
  background-position: -120px -960px	;
}
/*PISTACHIO SKIN*/
.camera_pistachio_skin .camera_prevThumbs div {
  background-position: -160px -1040px;
}
.camera_pistachio_skin .camera_nextThumbs div {
  background-position: -190px -1040px;
}
.camera_pistachio_skin .camera_prev > span {
  background-position: 0 -1040px;
}
.camera_pistachio_skin .camera_next > span {
  background-position: -40px -1040px;
}
.camera_pistachio_skin .camera_commands > .camera_play {
  background-position: -80px -1040px;
}
.camera_pistachio_skin .camera_commands > .camera_stop {
  background-position: -120px -1040px	;
}
/*PINK SKIN*/
.camera_pink_skin .camera_prevThumbs div {
  background-position: -160px -80px;
}
.camera_pink_skin .camera_nextThumbs div {
  background-position: -190px -80px;
}
.camera_pink_skin .camera_prev > span {
  background-position: 0 -80px;
}
.camera_pink_skin .camera_next > span {
  background-position: -40px -80px;
}
.camera_pink_skin .camera_commands > .camera_play {
  background-position: -80px -80px;
}
.camera_pink_skin .camera_commands > .camera_stop {
  background-position: -120px -80px;
}
/*RED SKIN*/
.camera_red_skin .camera_prevThumbs div {
  background-position: -160px -1000px;
}
.camera_red_skin .camera_nextThumbs div {
  background-position: -190px -1000px;
}
.camera_red_skin .camera_prev > span {
  background-position: 0 -1000px;
}
.camera_red_skin .camera_next > span {
  background-position: -40px -1000px;
}
.camera_red_skin .camera_commands > .camera_play {
  background-position: -80px -1000px;
}
.camera_red_skin .camera_commands > .camera_stop {
  background-position: -120px -1000px	;
}
/*TANGERINE SKIN*/
.camera_tangerine_skin .camera_prevThumbs div {
  background-position: -160px -1120px;
}
.camera_tangerine_skin .camera_nextThumbs div {
  background-position: -190px -1120px;
}
.camera_tangerine_skin .camera_prev > span {
  background-position: 0 -1120px;
}
.camera_tangerine_skin .camera_next > span {
  background-position: -40px -1120px;
}
.camera_tangerine_skin .camera_commands > .camera_play {
  background-position: -80px -1120px;
}
.camera_tangerine_skin .camera_commands > .camera_stop {
  background-position: -120px -1120px	;
}
/*TURQUOISE SKIN*/
.camera_turquoise_skin .camera_prevThumbs div {
  background-position: -160px -1160px;
}
.camera_turquoise_skin .camera_nextThumbs div {
  background-position: -190px -1160px;
}
.camera_turquoise_skin .camera_prev > span {
  background-position: 0 -1160px;
}
.camera_turquoise_skin .camera_next > span {
  background-position: -40px -1160px;
}
.camera_turquoise_skin .camera_commands > .camera_play {
  background-position: -80px -1160px;
}
.camera_turquoise_skin .camera_commands > .camera_stop {
  background-position: -120px -1160px	;
}
/*VIOLET SKIN*/
.camera_violet_skin .camera_prevThumbs div {
  background-position: -160px -1200px;
}
.camera_violet_skin .camera_nextThumbs div {
  background-position: -190px -1200px;
}
.camera_violet_skin .camera_prev > span {
  background-position: 0 -1200px;
}
.camera_violet_skin .camera_next > span {
  background-position: -40px -1200px;
}
.camera_violet_skin .camera_commands > .camera_play {
  background-position: -80px -1200px;
}
.camera_violet_skin .camera_commands > .camera_stop {
  background-position: -120px -1200px	;
}
/*WHITE SKIN*/
.camera_white_skin .camera_prevThumbs div {
  background-position: -160px -80px;
}
.camera_white_skin .camera_nextThumbs div {
  background-position: -190px -80px;
}
.camera_white_skin .camera_prev > span {
  background-position: 0 -80px;
}
.camera_white_skin .camera_next > span {
  background-position: -40px -80px;
}
.camera_white_skin .camera_commands > .camera_play {
  background-position: -80px -80px;
}
.camera_white_skin .camera_commands > .camera_stop {
  background-position: -120px -80px;
}
/*YELLOW SKIN*/
.camera_yellow_skin .camera_prevThumbs div {
  background-position: -160px -1240px;
}
.camera_yellow_skin .camera_nextThumbs div {
  background-position: -190px -1240px;
}
.camera_yellow_skin .camera_prev > span {
  background-position: 0 -1240px;
}
.camera_yellow_skin .camera_next > span {
  background-position: -40px -1240px;
}
.camera_yellow_skin .camera_commands > .camera_play {
  background-position: -80px -1240px;
}
.camera_yellow_skin .camera_commands > .camera_stop {
  background-position: -120px -1240px	;
}


/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:         top, left, opacity;
  transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}



/**** Isotope styles ****/

/* required for containers to inherit vertical size from window */
/*html,
body {
  height: 100%;
}*/

#container {
  border: 1px solid #666;
  padding: 5px;
  margin-bottom: 20px;
}

.element {
  width: 110px;
  height: 110px;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #888;
  color: #222;
  -webkit-border-top-right-radius: 1.2em;
  -moz-border-radius-topright: 1.2em;
  border-top-right-radius: 1.2em;
}

.element.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element.other.nonmetal  { background: #00F; background: hsl( 252, 100%, 50%); }
.element.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }


.element * {
  position: absolute;
  margin: 0;
}

.element .symbol {
  left: 0.2em;
  top: 0.4em;
  font-size: 3.8em;
  line-height: 1.0em;
  color: #FFF;
}
.element.large .symbol {
  font-size: 4.5em;
}

.element.fake .symbol {
  color: #000;
}

.element .name {
  left: 0.5em;
  bottom: 1.6em;
  font-size: 1.05em;
}

.element .weight {
  font-size: 0.9em;
  left: 0.5em;
  bottom: 0.5em;
}

.element .number {
  font-size: 1.25em;
  font-weight: bold;
  color: hsla(0,0%,0%,.5);
  right: 0.5em;
  top: 0.5em;
}

.variable-sizes .element.width2 { width: 230px; }

.variable-sizes .element.height2 { height: 230px; }

.variable-sizes .element.width2.height2 {
  font-size: 2.0em;
}

.element.large,
.variable-sizes .element.large,
.variable-sizes .element.large.width2.height2 {
  font-size: 3.0em;
  width: 350px;
  height: 350px;
  z-index: 100;
}

.clickable .element:hover {
  cursor: pointer;
}

.clickable .element:hover h3 {
  text-shadow:
    0 0 10px white,
    0 0 10px white
;
}

.clickable .element:hover h2 {
  color: white;
}

/*
Author: WebThemez.com
Website: http://webthemez.com
Note: Please do not remove the footer backlink (webthemez.com)--(if you want to remove contact: webthemez@gmail.com)
Licence: Creative Commons Attribution 3.0** - http://creativecommons.org/licenses/by/3.0/
*/
/*@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);*/
/*@import url(http://fonts.googleapis.com/css?family=Lato:400,700);*/
body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: #6E6E6E;
  background: url('../assets/images/bg.png') top left repeat;
}
/*General*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 30px;
}
h2 {
  margin: 30px 0;
}
a{
  color:#f11d25;
}
a:hover, a:focus{
  color:#f11d25;
  text-decoration: underline;
}
.navbar-toggle {
  background-color: rgba(0, 0, 0, 0.89);
}
.navbar-nav>li>a {
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400 !important;
}
blockquote {
  font-style: italic;
  font-family: Georgia;
  color: #999;
  margin: 0px 0 0px;
  padding: 0px 20px;
}
label {
  color: #777;
}
.btn-inline {
  color: #9C9C9C;
  font-size: 15px;
}
.form-control {
  display: block;
  width: 100%;
  height: 41px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 2.428571;
  color: #555;
  background-color: #F7F7F7;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
}
.navbar-inverse .navbar-brand img {
  width: 171px;
}
.section-title {
  margin-bottom: 20px;
}
/* Header */
#head {
  /*background: #181015 url( ../images/bg_header.jpg) no-repeat;*/
  background-size: cover;
  height: 600px;
  text-align: center;
  color: white;
  font-weight: 300;
  position: relative;
  background-position-x: center;
}
#head.secondary {
  height: 100px;
  min-height: 100px;
  padding-top: 0px;
}
#head .lead {
  font-size: 44px;
  margin-bottom: 6px;
  color: white;
  line-height: 1.15em;
}
#head .tagline {
  color: rgba(255,255,255,0.75);
  margin-bottom: 25px;
}
#head .tagline a {
  color: #fff;
}
#head .btn {
  margin-bottom: 10px;
}
#head .btn-default {
  text-shadow: none;
  background: transparent;
  color: rgba(255,255,255,.5);
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
  background: transparent;
}
#head .btn-default:hover, #head .btn-default:focus {
  color: rgba(255,255,255,.8);
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
  -moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
  background: transparent;
}
#head .btn-default:active, #head .btn-default.active {
  color: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
  -moz-box-shadow: inset 0px 0px 0px 3px #fff;
  box-shadow: inset 0px 0px 0px 3px #fff;
  background: transparent;
}
.fluid_container {
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
}
#camera_wrap_4 {
  bottom: 0;
  height: 100%;
  left: 0;
  margin-bottom: 0!important;
  position: absolute;
  right: 0;
  top: 0;
}
.camera_bar {
  z-index: 2;
}
.camera_thumbs {
  margin-top: -100px;
  position: relative;
  z-index: 1;
}
.camera_thumbs_cont {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
.camera_overlayer {
  opacity: .1;
}
.panel {
  margin-bottom: 0px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-body {
  padding: 0px;
}
.btn-action, .btn-primary {
  color: #FFEFD7;
  background-image: -webkit-linear-gradient(top, #0ecfec 0%, #09bed9 100%);
  background-image: linear-gradient(to bottom, #0ecfec 0%, #09bed9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ecfec22', endColorstr='#09bed900', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border: 0 none;
}
.btn-action:hover, .btn-primary:hover {
  background: #04a0b7;
}
.btn:hover, .btn:active {
  color: #c0c0c0;
}
ul, .list.custom-list ul {
  margin: 0 0 11px;
  list-style-type: none;
  padding-left: 10px;
}
.list.custom-list ul li {
  margin: 0;
  padding: 4px 0 5px 30px;
  border-top: 1px solid #f2f2f2;
  position: relative;
  background: url(../assets/images/arrow.png) no-repeat 0 11px;
}
.list.custom-list ul li a {
  font: 14px/1.2em 'Roboto', sans-serif;
  color:#878787;
  text-transform: none;
  display: inline;
  position: relative;
}
.thumbnail {
  position: relative;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  border: none;
  padding: 0;
  background: none;
  padding: 4px;
}
.thumbnail time {
  background: #f11d25;
  padding: 5px 0;
  display: block;
  text-indent: 12px;
  color: #fff;
}
.thumbnail .caption {
  padding: 9px 0 0;
  color: #606577;
}
.thumbnail .caption:hover {
}
.thumbnail .caption a {
  /*font: 20px;*/
}
.slideUp {
  top: -100px;
}
.navbar-inverse {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 100;
  margin: 0 auto;
  left: 0px;
  right: 0px;
}
.navbar-inverse {
  border: none;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
  color: #B8B8B8;
  font-size: 16px;
  text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background: none;
  color: #876ba5 !important;
}
.navbar-inverse .navbar-nav > .active > a {
  color: #876ba5;
  border-radius: 5px;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
  text-align: left;
}
/* Highlights*/
.highlight {
  margin-top: 40px;
}
.h-caption {
  text-align: center;
}
.h-caption i {
  display: block;
  font-size: 54px;
  color: #f11d25;
  margin-bottom: 36px;
}
.h-caption h4 {
  color: #382526;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
div.hbox {
  background: #fff;
  padding: 10px 15px;
}
.h-body {
}
.jumbotron {
  background-color: #E0E0E0;
}
.page-header {
  border-bottom: 1px solid #15c008;
}
.page-title {
  margin-top: 20px;
  font-weight: 300;
  color: #15c008;
}
.text-muted {
  color: #888;
}
.breadcrumb {
  background: none;
  padding: 0;
  margin: 30px 0 0px 0;
}
ul.list-spaces li {
  margin-bottom: 10px;
}
/* Helpers */
.container-full {
  margin: 0 auto;
  width: 100%;
}
.top-space {
  margin-top: 60px;
}
.top-margin {
  margin-top: 20px;
}
.circle {
  background: rgb(214, 214, 214);
  width: 95px;
  height: 95px;
  border-radius: 90px;
  line-height: 95px;
  margin: 0 auto 20px;
}
img {
  max-width: 100%;
}
img.pull-right {
  margin-left: 10px;
}
img.pull-left {
  margin-right: 10px;
}
#map {
  width: 100%;
  height: 280px;
}
#social {
  margin-top: 50px;
  margin-bottom: 50px;
}
#social .wrapper {
  width: 340px;
  margin: 0 auto;
}
.sidebar {
  padding-top: 36px;
  padding-bottom: 30px;
}
.sidebar .panel {
  margin-bottom: 20px;
}
.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 {
  margin-top: 20px;
}
.featured-box {
  padding: 20px;
  margin-bottom: 20px;
}
.featured-box .text {
  padding-left: 80px;
}
.featured-box h3 {
  margin: 0 0 5px 0;
}
.featured-box i {
  position: absolute;
  display: inline-block;
  color: #f11d25;
  border: solid 1px #f11d25;
  padding: 0px;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  margin: 0px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
}
footer {
  border-top: 1px solid #e5e5e5;
  background:#D8D8D8;
  margin-top: 40px;
}
.social {
  margin: 20px 0;
}
.social a {
  font-size: 32px;
  margin: 0 10px;
  color: #8c8c8c;
}
.social a:hover {
  color: #f11d25;
}
/* Footer */
.footer1 {
  background: #fff;
  padding: 30px 0 0 0;
  font-size: 12px;
  color: #999;
}
.footer1 a {
  color: #ccc;
}
.footer1 a:hover {
  color: #fff;
}
.footer1 .panel {
  margin-bottom: 30px;
}
.footer1 .panel-title {
  font-size: 17px;
  font-weight: bold;
  color: #ccc;
  margin: 0 0 20px;
}
.footer1 .entry-meta {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 35px 0;
  padding: 2px 0;
  color: #888888;
  font-size: 12px;
  font-size: 0.75rem;
}
.footer1 .entry-meta a {
  color: #333333;
}
.footer1 .entry-meta .meta-in {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.follow-me-icons {
  font-size: 30px;
}
.follow-me-icons i {
  float: left;
  margin: 0 10px 0 0;
  color: #f11d25;
}
.footer2 {
  background: #000;
  padding: 15px 0;
  color: #aaa;
  font-size: 12px;
}
.footer2 a {
  color: #aaa;
}
.footer2 a:hover {
  color: #fff;
}
.footer2 p {
  margin: 0;
}
.panel-simplenav {
  margin-left: -5px;
}
.panel-simplenav a {
  margin: 0 5px;
}
#services .fa {
  color: #f11d25;
}
/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  /*margin-top: 30px 0px 0px;*/
}
/* Control buttons  */
#quote-carousel .carousel-control {
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left {
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right {
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active {
  background: #333333;
}
#quote-carousel img {
  width: 250px;
  height: 100px;
}
/* End carousel */

.item blockquote {
  border-left: none;
  margin: 0;
}
.item blockquote img {
  margin-bottom: 10px;
}
.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
}
.contact ul {
  padding: 0px;
}
.contact ul li {
  margin-bottom: 10px;
  list-style: none;
}
footer ul li {
  list-style: none;
}
#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
/* ------- */

.isotopeWrapper article {
  margin-bottom: 30px;
}
#portfolio {
}
#portfolio img {
  width: 100%;
}
#portfolio article p {
  margin-bottom: 1.45em;
  /*set next row on the baseline*/;
}
nav#filter {
  margin-bottom: 1.5em;
}
nav#filter li {
  display: inline-block;
  margin: 10px;
}
nav#filter a {
  padding: 4px 12px;
  line-height: 20px;
  border: 1px solid #f11d25;
  text-decoration: none;
  color: #f11d25;
}
nav#filter a.current {
  background: #f11d25;
  color: #fff;
}
.iconColor .fa {
  color: #ee0c45;
}
.portfolio-items article img {
  width: 100%;
}
.portfolio-item {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.portfolio-item img {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.portfolio-item .portfolio-desc {
  display: block;
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  /*color: rgba(220, 220, 220);*/
}
.fancybox-overlay {
  background: rgba(0, 0, 0, 0.64);
}
.portfolio-item:hover .portfolio-desc {
  padding-top: 20%;
  height: 100%;
  transition: all 200ms ease-in-out 0s;
  opacity: 1;
  background: rgba(61, 61, 61, 0.67);
}
.portfolio-item .portfolio-desc a {
  color: #fff;
  text-align: center;
  display: block;
}
.portfolio-item .portfolio-desc a:hover {
  /*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);*/
  text-decoration: none;
}
.portfolio-item .portfolio-desc .folio-info {
  top: -20px;
  padding: 30px;
  height: 0;
  opacity: 0;
  position: relative;
}
.portfolio-item:hover .folio-info {
  height: 100%;
  opacity: 1;
  transition: all 500ms ease-in-out 0s;
  top: 5px;
}
.portfolio-item .portfolio-desc .folio-info h5 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}
.portfolio-item .portfolio-desc .folio-info p {
  color: #ffffff;
  font-size: 12px;
}
.newsBox {
  margin-bottom: 12px;
}
.newsBox img {
  width: 100% !important;
}
/*Da Slider*/
.da-slider {
  width: auto;
  height: auto;
  max-height: initial;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.da-slide h2 {
  text-align: left;
  top: 15%;
  font-weight: bold;
}
.da-slide p {
  text-align: left;
  top: 40%;
  font-size: 30px;
}
.da-arrows span {
  position: absolute;
  top: 45%;
}
.da-dots span.da-dots-current:after {
  content: '';
  background: #f11d25;
}
.team-member {
  padding-top: 5px;
  margin-bottom: 15px;
}
.team-heading {
  display: block;
  width: 100%;
}
.member-img {
  overflow: hidden;
}
.member-img img {
  border-radius: 0px;
}
.team-socials {
  margin: 15px 0;
  display: block;
  text-align: center;
}
.team-socials i {
  width: 35px;
  height: 35px;
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: #C7C7C7;
}
.team-socials i:hover {
  color: #f11d25;
}
.team-member h4 {
  font-size: 19px;
  line-height: 32px;
  padding: 10px 0 0;
  text-align: center;
  margin: 0px;
}
.team-member .pos {
  display: block;
  margin: 0;
  text-align: center;
}
#head.secondary {
  height: 300px;
  min-height: 300px;
  padding-top: 0px;
  background: #181015 url(../assets/images/bg_header.jpg) 0px -270px no-repeat;
  /*background: #f11d25;*/
  background-size: cover;
  text-align: left;
}
#head.secondary h1{
  height: 300px;
  line-height: 390px;
  COLOR: #F9E7C2;
}
/*Price table*/
.flat {
  margin: 30px 0;
}
.flat .plan {
  border-radius: 0px;
  list-style: none;
  padding: 0 0 20px;
  margin: 0 0 15px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29) !important;
}
.flat .plan li {
  padding: 10px 15px;
  color: #ccc;
  border-top: 1px solid #f5f5f5;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.flat .plan li.plan-price {
  border-top: 0;
}
.flat .plan li.plan-name {
  border-radius: 0;
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background: #4E4E4E;
  margin-bottom: 30px;
  border-top: 0;
}
.flat .plan li > strong {
  color: #6B6B6B;
  font-weight: normal;
}
.flat .plan li.plan-action {
  margin-top: 10px;
  border-top: 0;
}
.flat .plan.featured {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.flat .plan.featured:hover li.plan-name, .flat .plan:hover li.plan-name, .flat .plan.featured.plan-name {
  background: #f11d25 !important;
}
.btn {
  background: #f11d25;
  color: #fff;
}
.footer2 a {
  padding: 4px 8px;
}

/**
  MEDIA QUERIES
*/
@media (max-width: 767px) {
  #head.secondary {
    height: 80px;
    min-height: 80px;
    background-size: initial;
  }
  #camera_wrap_4, #head{
    height:480px !important;
  }
  #head .lead {
    font-size: 34px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #quote-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .navbar-collapse ul {
    text-align: right;
    margin-right: 0px;
  }
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
  /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
  #camera_wrap_4, #head{
    height:480px !important;
  }
  .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
    font-size: 13px;
  }
  .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
    text-align: right;
  }
  #quote-carousel .carousel-indicators {
    bottom: -20px !important;
  }
  #quote-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
  }
  #quote-carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 20px;
    height: 20px;
  }
  .footer2 p {
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .navbar-inverse {
    background: rgba(0, 0, 0, 0.8);
  }
  #camera_wrap_4, #head{
    height:380px !important;
  }
  .da-slide h2 {
    font-size: 28px;
  }
  .da-slide p {
    font-size: 19px;
    font-weight: 400;
  }
}

